version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: markethub_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    command: gunicorn marketbackend.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./backend:/app
    environment:
      - POSTGRES_DB=markethub_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_HOST=db
      - CORS_ALLOWED_ORIGINS=http://localhost:5173
    ports:
      - '8000:8000'
    depends_on:
      - db

volumes:
  db_data:
